.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 30px;
}

li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--heading-color);
  font-size: 16px;
  padding-bottom: 5px;
}

li > a:hover {
  border-bottom: 2px solid #fb8f1d;
}

.nav__login {
  height: 45px;
  width: 130px;
  font-family: var(--text-font);
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #fb8f1d;
  border: 1px solid #fb8f1d;
  background-color: #fff;
}

.nav__menu-toggle {
  height: 25px;
  width: 25px;
  display: none;
}

/*For Medium size screens*/
@media screen and (max-width: 1024px) {
  .nav__menu-toggle {
    display: block;
    cursor: pointer;
  }
  .nav__links {
    display: none;
    position: absolute;
    top: 100px;
    right: 100px;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(26, 190, 132, 0.7);
    padding: 30px 50px;
  }

  .display_dropdown {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .nav__links {
    top: 80px;
    right: 35px;
  }
}
