.guide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 200px;
}

.guide__text > h2 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.guide__text > p {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 35px;
}

@media screen and (max-width: 1024px) {
  .guide {
    flex-direction: column;
    gap: 50px;
    margin-block: 150px;
  }
  .guide__img {
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .guide {
    gap: 50px;
    margin-block: 100px;
  }

  .guide__img {
    height: 300px;
    width: 300px;
  }
}
