.footer {
  margin-top: 200px;
  background: #f9f9fb;
  padding-inline: 100px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 1px solid var(--text-color);
  padding-block: 80px 40px;
}

.footer__outro img {
  margin-bottom: 26px;
}

.footer__outro > p {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 300;
}

.footer__copy {
  margin-top: 55px;
}

.footer__lists {
  width: 300px;
}

.footer__titles {
  color: var(--heading-color);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer__values {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.footer__links {
  display: flex;
  justify-content: center;
  margin-block: 30px;
  gap: 35px;
}

.footer__links img {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .footer__container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .footer__copy {
    margin-top: 30px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding-inline: 50px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__links {
    gap: 25px;
  }
}
